@using Application.Entities

@model Product
<input hidden class="form-control" asp-for="@Model.ProductId" />
<label>Nombre:</label>
<input class="form-control" asp-for="@Model.Name" />
<span asp-validation-for="@Model.Name" class="text-danger"></span><br />
 
 <label>Precio:</label>
<input class="form-control" asp-for="@Model.Price" />
<span asp-validation-for="@Model.Price" class="text-danger"></span><br />

 <label>Descripción:</label>
<input class="form-control" asp-for="@Model.Description" />
<span asp-validation-for="@Model.Name" class="text-danger"></span><br />

 <label>Id de categoría:</label>
<input class="form-control" asp-for="@Model.CategoryId" />
<span asp-validation-for="@Model.Name" class="text-danger"></span><br />

 <label>Id de usuario:</label>
<input class="form-control" asp-for="@Model.UserId" />
<span asp-validation-for="@Model.Name" class="text-danger"></span><br />
<button class="btn btn-primary" type="submit">Guardar</button>