@using Application.Entities

@model Product
<form asp-controller = "Product" asp-action="Create">
 <label>Nombre:</label>
<input asp-for="@Model.Name" />
<span asp-validation-for="@Model.Name" class="text-danger"></span><br />
 
 <label>Precio:</label>
<input asp-for="@Model.Price" />
<span asp-validation-for="@Model.Price" class="text-danger"></span><br />

 <label>Descripción:</label>
<input asp-for="@Model.Description" />
<span asp-validation-for="@Model.Name" class="text-danger"></span><br />

 <label>Id de categoría:</label>
<input asp-for="@Model.CategoryId" />
<span asp-validation-for="@Model.Name" class="text-danger"></span><br />

 <label>Id de usuario:</label>
<input asp-for="@Model.UserId" />
<span asp-validation-for="@Model.Name" class="text-danger"></span><br />
<button type="submit">Guardar</button>
</form>


