@model Web.ViewModels.ProductViewModel;

@{
    ViewData["Title"] = "Detalles de Producto";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="card">
    <div class="card-body">
        <h3>Detalles de @Model.Name</h3>
        <hr>
        <table class="table table-bordered">
            <tr>
                <td style="width: 30%">Nombre</td>
                <td style="width: 70%">@Model.Name</td>
            </tr>
            <tr>
                <td style="width: 30%">Descripción</td>
                <td style="width: 70%">@(string.IsNullOrEmpty(Model.Description)? "---": Model.Description)</td>
            </tr>
            <tr>
                <td style="width: 30%">Precio</td>
                <td style="width: 70%">@Model.Price</td>
            </tr>
            <tr>
                <td style="width: 30%">Usuario</td>
                <td style="width: 70%">@(Model.ProductUser != null? Model.ProductUser.Name+" "+Model.ProductUser.Primer_Apellido+" "+Model.ProductUser.Segundo_Apellido: "---" )</td>
            </tr>
            <tr>
                <td style="width: 30%">Categoría</td>
                <td style="width: 70%">@(Model.ProductCategory?.Name?? "---")</td>
            </tr>
        </table>
    </div>
</div>