@using Application.Entities;

@model Product

<table class="table">
    <tbody>
        <tr >
            <th class="thead-dark">Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th class="thead-dark">Description</th>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <th class="thead-dark">Price</th>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <th class="thead-dark">Category</th>
            <td>@Model.CategoryId</td>
        </tr>
        <tr>
            <th class="thead-dark">User</th>
            <td>@Model.UserId</td>
        </tr>
    </tbody>
</table>