@using Web.ViewModel
@model ProductDetailViewModel

@if(ViewBag.Error != null){
    <div class="alert alert-warning" role="alert">
        Este producto está a punto de agotar existencias.
    </div>
}


<div class="d-flex rounded">
    <div class="card w-100">
        <div class="card-body">
            <h1 class="border-bottom border-2 border-primary">Product details</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th class="w-25">Name</th>
                        <td>@Model.Product.Name </td>
                    </tr>
                    <tr>
                        <th class="w-25">Description</th>
                        <td>@Model.Product.Description</td>
                    </tr>
                    <tr>
                        <th class="w-25">Price</th>
                        <td>@Model.Product.Price</td>
                    </tr>
                    <tr>
                        <th class="w-25">Category</th>
                        <td>@Model.Category.Name</td>
                    </tr>
                    <tr>
                        <th class="w-25">User</th>
                        <td>@Model.User.Name</td>
                    </tr>
                    <tr>
                        <th class="w-25">Image</th>
                        <td><img class="img-fluid" src="@Url.Content("/images/Muro_Floral.webp")" style="width: 40%" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>