@using Application.Entities

@model Product

@if(ViewBag.Warning != null)
{
    <div class="alert alert-warning" role="alert">
        <strong>warning</strong>@ViewBag.warning
    </div>
}
@if(ViewBag.status != null){
    <div class="alert alert-success">
        <b>Éxito!</b> Se ha registrado con éxito.
    </div>
}

@if(Model.Name == "test"){
<div class="alert alert-danger" role="alert">
    <strong>danger</strong> test activado
</div>
}
else{
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.Raw(Model.Name)</td>
            <td>@Model.Description</td>
            <td>@Model.Price.ToString("C")</td>
            <td>@Model.CategoryId</td>
            <td>@Model.UserId</td>
        </tr>
    </tbody>
</table>
}