@using Application.Entities

@model Product

<h1>Detalles del producto</h1>

<p>
    <a class="btn btn-warning" asp-action="Update" asp-route-id="1">Editar</a>
</p>

@if(ViewBag.Warning != null){
    <div class="alert alert-warning" role="alert">
        <strong>warning</strong> @ViewBag.Warning
    </div>
}
@if(ViewBag.status != null){
    <div class="alert alert-success">
        <b>Éxito!</b> Se ha registrado con éxito.
    </div>
}

@if(Model.Name == "test"){
<div class="alert alert-danger" role="alert">
    <strong>danger</strong> test activado
</div>
}
else{
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>@Model.CategoryId</td>
        </tr>
        <tr>
            <th>User</th>
            <td>@Model.UserId</td>
        </tr>
    </tbody>
</table>
}