@using Application.Entities
@model List<Application.Entities.User>;

@{
    ViewData["Title"] = "Usuarios";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="text-left">
    
    <div class="card">
        <div class="card-body">
            <h2 class="d-flex align-items-center">
                <span class="material-symbols-outlined me-1" style="font-size: 40px;">
                    group
                </span>
                Usuarios
            </h2>
            <hr>
            <div class="col-12 mb-3">
                <a asp-controller="User" asp-action="Create" class="btn btn-primary d-inline-flex align-items-center">                    
                    <span class="material-symbols-outlined me-1">
                        add
                    </span>
                    Nuevo Usuario
                </a>
            </div>
            <hr>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="width: 5%;">#</th>
                        <th style="width: 75%;">Nombre</th>
                        <th style="width: 20%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Count() > 0){
                        int count = 1;
                        @foreach(User user in Model){
                            <tr>
                                <td>@(count++)</td>
                                <td>@user.Name @user.Primer_Apellido @user.Segundo_Apellido</td>
                                <td>
                                    <a asp-controller="User" asp-action="Edit" asp-route-id="1" class="btn btn-success d-inline-flex align-items-center action-btn" 
                                    data-toggle="tooltip" data-placement="top" title="Editar Usuario">
                                        <span class="material-symbols-outlined me-1">
                                            edit_document
                                        </span>
                                    </a>                                
                                    <a class="btn btn-danger d-inline-flex align-items-center action-btn btnDelete" data-toggle="tooltip" data-placement="top" 
                                    title="Eliminar Usuario" data-id="@user.UserId" data-name="@(user.Name+" "+user.Primer_Apellido+" "+user.Segundo_Apellido)">
                                        <span class="material-symbols-outlined me-1">
                                            delete
                                        </span>
                                    </a>                        
                                    <a asp-controller="User" asp-action="Details" asp-route-id="1" class="btn btn-light d-inline-flex align-items-center action-btn" 
                                    data-toggle="tooltip" data-placement="top" title="Detalles Usuario" style="border: 1px solid;">
                                        <span class="material-symbols-outlined me-1">
                                            visibility
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }else{
                        <tr>
                            <td class="text-muted" colspan="3">
                                No hay usuarios para mostrar
                                <br>
                                <img src="~/img/empty.png" alt="" width="300" height="250" style="opacity: 0.65;">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>    
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex align-items-center" id="deleteModalLabel">
                    <span class="material-symbols-outlined me-1" style="color: red !important; font-size: 35px;">
                        delete
                    </span>
                    Eliminar Registro de Producto
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-danger-subtle text-center" id="deleteModalBody">
                ¿Esta seguro que desea eliminar el registro del producto <span id="productoNombre" style="font-weight: bold;"></span>?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" method="post" style="display:inline;">
                    <input type="hidden" id="productId" name="id" value="" />
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt me-1"></i> Eliminar
                    </button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-1"></i>Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex align-items-center" id="errorModalLabel">
                    <span class="material-symbols-outlined me-1" style="color: red !important;">
                        warning
                    </span>
                    Ha Ocurrido un Error!
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="errorModalBody">
                Ocurrio un error al búscar el Producto. Intenta refrescar la página.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('.btnDelete').on('click', function(e){
            e.preventDefault();
            var id = $(this).data('id');
            if(id){
                $('#productoNombre').html($(this).data('name'));
                $('#productId').val(id);

                console.log("id script:"+id);

                $('#deleteModal').modal('show');
            }else{
                $('#errorModal').modal('show');
            }
        });
    </script>
}