@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">V de verduras.</h1>
    <p>Frutas y verduras listas para ser enviadas a tu domicilio.</p>
</div>


<div id="carouselExample" class="carousel slide mx-auto" data-bs-ride="carousel" style="padding-left: 20%;">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="@Url.Content("~/img/v-de-veduras.png")" class="d-block carousel-image">
        </div>
        <div class="carousel-item">
            <img src="@Url.Content("~/img/car1.webp")" class="d-block carousel-image">
        </div>
        <div class="carousel-item">
            <img src="@Url.Content("~/img/car2.webp")" class="d-block carousel-image">
        </div>
        <div class="carousel-item">
            <img src="@Url.Content("~/img/car3.webp")" class="d-block carousel-image">
        </div>
        <div class="carousel-item">
            <img src="@Url.Content("~/img/car4.webp")" class="d-block carousel-image">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>